html{
    margin: 1px;
    /*background-color: bisque;*/
}



div.title{
    background-image: url("pictures/MaterialDesign_LightBlue.jpg");
    background-size: cover;
    height: 500px;
    padding: 5px;

}
h1.title{
    font-family: Consolas, sans-serif;
    color: white;
}
h2.title{
    font-family: Consolas, sans-serif;
    color: white;
    vertical-align: bottom;
    text-align: left;
}

div.nav{
    padding: 25px;
}


body.definition{
	background-image: url("pictures/materialBlackRed.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1.definition{
	color: white;
	font-family: sans-serif;
}
h3.definition{
	color: white;
	font-family: sans-serif;
}


li{
    list-style-type: none;
}
a.nav{
    text-align: center;
    transition-duration: 0.2s;
    font-family: Arial, sans-serif;
    color: dimgrey;
    font-size: x-large;
}
a.nav:hover{
    transition-duration: 0.2s;
    color: black;
    font-family: sans-serif;
    font-size: xx-large;
}







body.thesis{
	background-image: url("pictures/MaterialDesignDark.png");
	padding: 2px;
	overflow: auto;
}


div.thesis{
	margin: 768px;
	
	overflow: auto;
	
	
}
h1.thesis{
	color: white;
	font-family: sans-serif;
}
h3.thesis{
	color: white;
	font-family: sans-serif;
}


body.abstract1{
	background-image: url("pictures/materialRed.jpg");
	padding: 2px;
	overflow: auto;
}
h1.abstract1{
	color: white;
	font-family: sans-serif;
}
h3.abstract1{
	color: white;
	font-family: sans-serif;
}
