html{
    margin: 1px;
    /*background-color: bisque;*/
}



div.title{
    background-image: url("pictures/MaterialDesign_LightBlue.jpg");
    background-size: cover;
    height: 500px;
    padding: 5px;

}
h1.title{
    font-family: Consolas, sans-serif;
    color: white;
}
h2.title{
    font-family: Consolas, sans-serif;
    color: white;
    vertical-align: bottom;
    text-align: left;
}

div.nav{
    padding: 25px;
}





li{
    list-style-type: none;
}
a.nav{
    text-align: center;
    transition-duration: 0.2s;
    font-family: Arial, sans-serif;
    color: dimgrey;
    font-size: larger;
}
a.nav:hover{
    transition-duration: 0.2s;
    color: black;
    font-family: sans-serif;
    font-size: x-large;
}










div.thesis{
	margin: 768px;
	
	overflow: auto;
	background-image: url("pictures/MaterialDesignDark.png");
	
}
h1.thesis{
	color: white;
	font-family: sans-serif;
}
h3.thesis{
	color: white;
	font-family: sans-serif;
}
