body{
     word-wrap: normal;

 }

.welcome {
    color: #034f84;
    text-align: center;
    font-family: serif;

}

.placement_paragraph{
    color: crimson;
    text-align: center;
    font-family: SansSerif;

}
.inventory{
    width: inherit;
}
.redirectLink{
    text-align: center;
    text-underline-color: blue;
    color: blue;
    text-decoration: underline;
}